<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268151751569-tequaallsa5su8r0ovv34rd6mcn36bsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268151751569-tequaallsa5su8r0ovv34rd6mcn36bsl</string>
	<key>API_KEY</key>
	<string>AIzaSyASSagpPZGSENrvTHDsbBAV74wnE5FRoms</string>
	<key>GCM_SENDER_ID</key>
	<string>268151751569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahallahfriendfinder</string>
	<key>PROJECT_ID</key>
	<string>friendfinder-da07b</string>
	<key>STORAGE_BUCKET</key>
	<string>friendfinder-da07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268151751569:ios:32e5a47a9875f58f805030</string>
</dict>
</plist>